parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#9 \$lotSize of class App\\Investments\\Domain\\Instruments\\Share constructor expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Investments/Application/Command/GetAllSpbSharesCommand.php

		-
			message: '#^Parameter \#1 \$var of method Tinkoff\\Invest\\V1\\GetLastPricesRequest\:\:setInstrumentId\(\) expects Google\\Protobuf\\Internal\\RepeatedField&iterable\<string\>, list\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Investments/Application/Command/TInvestGetMarketData.php

		-
			message: '#^Variable \$response in PHPDoc tag @var does not match any variable in the foreach loop\: \$item$#'
			identifier: varTag.differentVariable
			count: 1
			path: src/Investments/Application/Command/TInvestGetMarketData.php

		-
			message: '#^Variable \$response in PHPDoc tag @var does not match any variable in the foreach loop\: \$item$#'
			identifier: varTag.differentVariable
			count: 1
			path: src/Investments/Application/Command/TInvestUpdateShares.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\InvestCabHttpClient\:\:getDataAboutTicker\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Investments/Domain/Instruments/InvestCabHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\InvestCabHttpClient\:\:parseContent\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Investments/Domain/Instruments/InvestCabHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\MoexHttpClient\:\:getBonds\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 2
			path: src/Investments/Domain/Instruments/MoexHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\MoexHttpClient\:\:getCurrencyRates\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Investments/Domain/Instruments/MoexHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\MoexHttpClient\:\:getData\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Investments/Domain/Instruments/MoexHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\MoexHttpClient\:\:getFutures\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 2
			path: src/Investments/Domain/Instruments/MoexHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\MoexHttpClient\:\:getSharesByBoard\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 2
			path: src/Investments/Domain/Instruments/MoexHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\Securities\\MoexSharesProvider\:\:parseResult\(\) has parameter \$boardData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Investments/Domain/Instruments/Securities/MoexSharesProvider.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\Securities\\MoexSharesProvider\:\:parseResult\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Investments/Domain/Instruments/Securities/MoexSharesProvider.php

		-
			message: '#^Method App\\Shared\\Application\\Controller\\AuthController\:\:logout\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Shared/Application/Controller/AuthController.php
