parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#9 \$lotSize of class App\\Investments\\Domain\\Instruments\\Share constructor expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Investments/Application/Command/GetAllSpbSharesCommand.php

		-
			message: '#^Parameter \#1 \$var of method Tinkoff\\Invest\\V1\\GetLastPricesRequest\:\:setInstrumentId\(\) expects Google\\Protobuf\\Internal\\RepeatedField&iterable\<string\>, list\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Investments/Application/Command/TInvestGetMarketData.php

		-
			message: '#^Variable \$response in PHPDoc tag @var does not match any variable in the foreach loop\: \$item$#'
			identifier: varTag.differentVariable
			count: 1
			path: src/Investments/Application/Command/TInvestGetMarketData.php

		-
			message: '#^Variable \$response in PHPDoc tag @var does not match any variable in the foreach loop\: \$item$#'
			identifier: varTag.differentVariable
			count: 1
			path: src/Investments/Application/Command/TInvestUpdateShares.php

		-
			message: '#^Property App\\Investments\\Domain\\Analytics\\Statistic\:\:\$account type mapping mismatch\: property can contain App\\Investments\\Domain\\Accounts\\Account\|null but database expects App\\Investments\\Domain\\Accounts\\Account\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Investments/Domain/Analytics/Statistic.php

		-
			message: '#^Property App\\Investments\\Domain\\Analytics\\Statistic\:\:\$date type mapping mismatch\: property can contain DateTimeInterface\|null but database expects DateTimeInterface\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Investments/Domain/Analytics/Statistic.php

		-
			message: '#^Method App\\Investments\\Domain\\Analytics\\StatisticService\:\:getStatisticByYears\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Investments/Domain/Analytics/StatisticService.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\InvestCabHttpClient\:\:getDataAboutTicker\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Investments/Domain/Instruments/InvestCabHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\InvestCabHttpClient\:\:parseContent\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Investments/Domain/Instruments/InvestCabHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\MoexHttpClient\:\:getBonds\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 2
			path: src/Investments/Domain/Instruments/MoexHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\MoexHttpClient\:\:getCurrencyRates\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Investments/Domain/Instruments/MoexHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\MoexHttpClient\:\:getData\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Investments/Domain/Instruments/MoexHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\MoexHttpClient\:\:getFutures\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 2
			path: src/Investments/Domain/Instruments/MoexHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\MoexHttpClient\:\:getSharesByBoard\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 2
			path: src/Investments/Domain/Instruments/MoexHttpClient.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\Securities\\MoexSharesProvider\:\:parseResult\(\) has parameter \$boardData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Investments/Domain/Instruments/Securities/MoexSharesProvider.php

		-
			message: '#^Method App\\Investments\\Domain\\Instruments\\Securities\\MoexSharesProvider\:\:parseResult\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Investments/Domain/Instruments/Securities/MoexSharesProvider.php

		-
			message: '#^Method App\\Investments\\Domain\\Operations\\Deals\\SummaryForGroup\:\:getSummary\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Investments/Domain/Operations/Deals/SummaryForGroup.php

		-
			message: '#^PHPDoc tag @return with type App\\Investments\\Application\\Response\\DTO\\Operations\\SummaryForGroupDTO\|array is not subtype of native type array\.$#'
			identifier: return.phpDocType
			count: 1
			path: src/Investments/Domain/Operations/Deals/SummaryForGroup.php

		-
			message: '#^PHPDoc tag @var for property App\\Investments\\Domain\\Operations\\Deals\\SummaryForGroup\:\:\$deals with type App\\Investments\\Domain\\Operations\\Deals\\DealData\|array is not subtype of native type array\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Investments/Domain/Operations/Deals/SummaryForGroup.php

		-
			message: '#^Property App\\Investments\\Domain\\Operations\\Deals\\SummaryForGroup\:\:\$deals type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Investments/Domain/Operations/Deals/SummaryForGroup.php

		-
			message: '#^Method App\\Shared\\Application\\Controller\\AuthController\:\:logout\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Shared/Application/Controller/AuthController.php
