@layer components {
  .form-title {
    @apply text-lg font-bold text-gray-900 dark:text-white
  }

  .buttons-divider {
    @apply border-b dark:border-zinc-800
  }
}

.form-stack {
  max-width: 420px;

  > * + * {
    margin-top: 1rem;
  }
}
