.form-stack {
  max-width: 420px;

  > * + * {
    margin-top: 1rem;
  }
}

.form-title {
  font-size: 1.215rem;
  font-weight: bold;
}

.form-description {
  margin-top: 0.25rem;
  color: #4b5563;
}
