@use "buttons";
@use "forms";

@import 'variables';
@import 'bootstrap';
@import 'tables';

@import 'fonts/inter.css';

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;

  body {
    @apply font-sans;
    font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer components {
  // Inputs
  .form-input {
    @apply rounded w-full;
  }

  .form-checkbox {
    @apply rounded cursor-pointer;
  }

  .form-checkbox-label {
    @apply ml-2 block text-sm text-gray-900 dark:text-white cursor-pointer;
  }

  .card {
    @apply bg-white dark:bg-zinc-900 dark:border dark:border-zinc-700 shadow rounded p-6;
  }
}
