@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer components {
  @import "buttons";

  // Inputs
  .form-input {
    @apply rounded w-full;
  }

  .form-checkbox {
    @apply rounded cursor-pointer;
  }

  .form-checkbox-label {
    @apply ml-2 block text-sm text-gray-900 cursor-pointer;
  }

  .simple-table {
    @apply bg-white shadow rounded-lg w-full ring-1 ring-gray-200 overflow-hidden;

    thead {
      @apply border-b bg-gray-50;
    }

    &.white-header {
      thead {
        @apply border-b bg-white;
      }
    }

    th {
      @apply px-4 py-3 text-left;
    }

    .show-on-row-hover {
      display: none;
    }

    .table-actions {
      @apply text-right;
    }

    tbody {
      tr {
        @apply border-b hover:bg-gray-200;

        &:hover {
          > td > .show-on-row-hover {
            @apply flex;
          }
        }

        &:last-of-type {
          @apply border-b-0;
        }
      }

      td {
        @apply px-4 py-3;

        &.has-sub-table {
          @apply px-2 py-2 bg-gray-100;
        }
      }
    }

    .table-subtitle {
      @apply cursor-text text-left font-medium bg-gray-50 hover:bg-gray-50 border-b-gray-300;
    }

    .table-subtitle {
      td {
        @apply px-4 py-1.5;
      }
    }
  }

  .sub-table {
    th {
      @apply px-3 py-2 text-left;
    }

    thead {
      tr {
        @apply hover:bg-white;
      }
    }

    tbody {
      td {
        @apply px-3 py-2 text-sm;
      }

      tr {
        &:nth-child(even) {
          @apply bg-gray-100 hover:bg-gray-200;
        }
      }
    }
  }

  .tr-clickable {
    @apply cursor-pointer;
  }

  .card {
    @apply bg-white shadow rounded p-6;
  }
}
