@use "forms";

@import 'variables';
@import 'bootstrap';
@import "bootstrap/scss/variables-dark";
@import 'typography';
@import 'tables';
@import 'navbar';
@import 'cards';
@import 'modals';
@import "buttons";
@import "dark";

@import 'fonts/inter.css';

.collapse {
  visibility: visible;
}
